{{ if and (not .Params.disable_highlight) (in (string .Content) "</pre>") }}
{{ $highVer := .Site.Params.highlightjsVersion }}
{{ if (not (eq $highVer "")) }}
{{ $highJS := (print "//cdn.jsdelivr.net/combine/gh/highlightjs/cdn-release@" $highVer "/build/highlight.min.js") }}
{{ range (union .Site.Params.highlightjsLang .Params.highlightjsLang) }}
{{ $highJS := print $highJS ",gh/highlightjs/cdn-release@" $highVer "/build/languages/" . ".min.js" }}
{{ end }}
{{ $highJS := print $highJS ",npm/@xiee/utils/js/load-highlight.js" }}
<script src="{{ $highJS }}" defer></script>
{{ end }}
{{ end }}
