<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ if eq .URL "/" }}
    <title>{{ .Site.Title }}</title>
    <meta property="og:title" content="{{ .Site.Title }}">
    <meta property="og:type" content="website">
    {{ else }}
    <title>{{ .Title }}{{ with .Params.subtitle }} - {{ . }} {{ end }} - {{ .Site.Title }}</title>
    <meta property="og:title" content="{{ .Title }} - {{ .Site.Title }}">
    {{ end }}

    {{ if eq .URL "/" }}
    <meta property="description" content="{{ .Site.Params.description }}">
    {{ else }}
      {{ if .Description }}
      <meta property="description" content="{{ .Description }}">
      {{ end }}
    {{ end }}

    {{ if .Keywords }}
    <meta property="keywords" content ="{{ delimit .Keywords ", " }}">
    {{ end }}

    {{ if .RSSLink }}
    <link href="{{ .RSSLink | relURL }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    {{ end }}
    {{ partial "head_highlightjs" . }}
    <link rel="stylesheet" href="{{ "/css/style.css" | relURL }}" />
    <link rel="stylesheet" href="{{ "/css/fonts.css" | relURL }}" />
    {{ partial "head_custom.html" . }}
  </head>

  {{ $.Scratch.Set "section" (replaceRE "^/([^/]+)/.*" "$1" .URL) }}
  <body class="{{ if .IsHome }}home{{ else }}{{ $.Scratch.Get "section" }}{{ end }}">
    <header class="masthead">
      {{ partial "tagline.html" . }}
      <nav class="menu">
        <input id="menu-check" type="checkbox" />
        <label id="menu-label" for="menu-check" class="unselectable">
          <span class="icon close-icon">✕</span>
          <span class="icon open-icon">☰</span>
          <span class="text">Menu</span>
        </label>
        <ul>
        {{ $currentPage := . }}
        {{ range (default .Site.Menus.main (index .Site.Menus ($.Scratch.Get "section"))) }}
        <li{{ if eq .URL $currentPage.URL }} class="active"{{ end }}><a href="{{ .URL }}">{{ .Name }}</a></li>
        {{ end }}
        {{ partial "menu_extra.html" . }}
        </ul>
      </nav>
    </header>

    <article class="main">
      <header class="title">
      {{ partial "meta.html" . }}
      </header>
